*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

button{
    cursor: pointer;
    transition: .5s;
}

button:hover{
    color: #FD6E0A;
    background-color: white;
    border: 1px solid #FD6E0A;

}

header{

    max-width: 100%;
    
    
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png),url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right,top left;

}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 230px;
}


/* nav logo */


.nav-logo{
    font-weight: 800;
    color: black;
    font-size: 45px;
}
.nav-logo span{
    color: #FD6E0A;
}


/* header menu */

.nav-menu ul{
    display: flex;
    align-items: center;
    gap: 70px;
}

.nav-menu ul li{
    list-style: none;
    font-size: 20px;
    font-weight: 400;
    color: #474747;
}

/* primary btn */

.primary-btn{
    background-color: #FD6E0A;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
}

/* top btn */
.top-btn{
    width: 150px;
    height: 64px;
}

/* banner style */

.banner{
    display: flex;
    justify-content: space-between;
    padding: 0px 38px 0px 230px;
}



.banner-title h3{
    font-size: 45px;
    color: #474747;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 70px;
}

.banner-title h1{
    font-size: 85px;
    color: #181818;
    margin-bottom: 20px;
}

.banner-title p{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}

.banner-first-btn{
    width: 200px;
    height: 64px;
}

.banner-second-btn{
    width: 160px;
    height: 64px;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    background-color: white;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;
    margin-left: 30px;
}

.banner-img{
    width: 500px;
}
/* finally banner section done */


/* about section */

.about{
    width: 100%;
    height: 70vh;
    padding-top: 150px;
}

.about-container{
    width: 60%;
    background-color: #FFF8F3;
    text-align: center;
    margin: auto;
    border-radius: 5px;
    padding: 131px 0;
}

.about-container h1{
    font-size: 35px;
    font-weight: 700;
}

.about-container p{
    width: 80%;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #757575;
    margin: 30px auto;
}

.identity{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.identity-box span{
    display: block;
    color: #474747;
    font-weight: 100;
    font-size: 20px;
    margin-bottom: 10px;
}


.identity-box :nth-child(2){

    font-weight: 700;
}


/* what i do ection */

.work{
    width: 60%;
    margin:auto;
    text-align: center;
}

.work h1{
text-align: center;
font-size: 35px;
font-weight: 700;
color: #181818;
}

.work>p{
    width: 80%;
    margin: 30px auto;
    line-height: 30px;
    font-size: 18px;
    color: #757575;
    font-weight: 400;
}


/* scill box section */
 
.skill-container{
    display: flex;
    gap: 24px;
}

.skill-box{
    padding: 30px;
    text-align: left;
    width: 22.5%;
    box-shadow: 4px 4px 15px rgb(207, 207, 207);
    border-radius: 5px;

}

.skill-box img{
    width: 44px;
    margin: 30px auto;
}

.skill-box h3{
    margin-bottom: 20px;
    font-weight: 700;
    
}
.skill-box p{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #757575;

}

/* rasume section */

.resume{
    width: 60%;
    margin: auto;
    text-align: center;
    padding: 130px 0;
}

.resume-title h1{
    font-size: 35px;
    font-weight: 700;
    outline-color: black;
    
}

.resume-box-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 71px;
    margin-top: 130px;
    text-align: left;
}


.resume-box{
    width: 45%;
    border-bottom: 1px solid black;
}
.resume-box h1{
    font-size: 25px;
    font-weight: 700;
}
.resume-box h2{
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #757575;
}
.resume-box p{
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #757575;
    margin-bottom: 30px;
}
.resume-box span{
    font-size: 30px;
    font-weight: 700;
}
.box-fix{
    border: none;
}
.resume-btn{
    margin-top: 60px;
}


/* footer section */

.footer-center{
    width: 70%;
    margin: auto;
}

.footer-center{

    display: flex;
    justify-content: space-between;
}

.footer-content h1{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
}

.footer-content p{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.footer-icon{
    margin-top: 30px;
    display: flex;
    gap: 24px;
}
/* footer form style. */

.footer-form{
    padding-left: 230px;
}
.footer-form h1{
    margin-bottom: 28px;
}

.footer-form form input[type=email],form input[type=text],form textarea {

    display: block;
    margin-bottom: 30px;
    border: transparent;
    width: 100%;
    padding: 18px 30px;
    color:#757575;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid transparent;
    outline: none;
    border-radius: 5px;
    
}

.submit-btn{
    width: 150px;
    height: 64px;
    cursor: pointer;
}
footer{
    padding: 130px;
    background-color: #FFF8F3;
}